@{
    ViewData["Title"] = "Home Page";
}

Ejemplo 9: Tablas

<table class="table table-striped table-hover table-bordered">

    <thead>

    <tr>
        <th>·</th>

        <th>Nomre</th>

        <th>Apellido</th>
    </tr>

    </thead>

    <tbody>

        <tr>
            <td>1</td>

            <td>Felipe</td>

            <td>Gavilán</td>

        </tr>

        <tr class="table-success">
            <td>2</td>

            <td>Claudia</td>

            <td>Rodriguez</td>

        </tr>

        <tr>
            <td>3</td>

            <td colspan="2">Roberto Gonzalez</td>

        </tr>

    </tbody>

</table>


Ejemplo 10:Agregar video

<div>

    Sin ratio

</div>

<iframe width="560" height="315" src="https://www.youtube.com/embed/QBqCZInpaSg?si=eaw8L4931RECwAPT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<div>

    con ratio de 16x9

</div>

<div class="ratio ratio-16x9">

    <iframe width="560" height="315" src="https://www.youtube.com/embed/QBqCZInpaSg?si=eaw8L4931RECwAPT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

</div>

<div class="row">

    <div class="col-md-4">

        <div class="ratio ratio-16x9">

            <iframe width="560" height="315" src="https://www.youtube.com/embed/QBqCZInpaSg?si=eaw8L4931RECwAPT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

        </div>

    </div>

    <div class="col-md-4">

        <div class="ratio ratio-16x9">

            <iframe width="560" height="315" src="https://www.youtube.com/embed/QBqCZInpaSg?si=eaw8L4931RECwAPT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

        </div>

    </div>

    <div class="col-md-4">

        <div class="ratio ratio-16x9">

            <iframe width="560" height="315" src="https://www.youtube.com/embed/QBqCZInpaSg?si=eaw8L4931RECwAPT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

        </div>

    </div>

</div>