@{
    ViewData["Title"] = "Home Page";
}

Ejemplo 13: Formularios 

<form>

    <div class="mb-3">

        <label class="form-label">Email</label>

        <input type="email" class="form-control" />

    </div>

    <div class="mb-3">

        <label class="form-label">Descripcion</label>

        <textarea type="email" class="form-control" rows="3"></textarea>

    </div>

    <div class="mb-3">

        <select class="form-select">

            <option selected>Color favorito</option>

            <option value="1">Azul</option>

            <option value="2">Rojo</option>

            <option value="3">Verde</option>


        </select>

    </div>

    <div class="form-check">

        <input class="form-check-input" type="checkbox" />

        <label class="form-label">Es empleado</label>


    </div>


</form>

