@{
    ViewData["Title"] = "Home Page";
}

Ejemplo 11: Margenes

<div>

    fila 1

</div>

<div class="my-3">

    fila 2

</div>

<div>

    fila 3

</div>

<br />

<button class="btn btn-primary p-5">Boton 1</button>

<button class="btn btn-secondary ms-5">Boton 2</button>