@{
	ViewData["Title"] = "Home Page";
}


Ejemplo 5: Gutter horizontal

<div class="row">

	<div class="col">

		<div class="bg-light border">
			columna 1
		</div>

	</div>

	<div class="col">

		<div class="bg-light border">
			columna 2
		</div>

	</div>

</div>

<br />

Ejemplo 6: Gutter verical

<div class="row g-5">

	<div class="col-6">

		<div class="bg-light border">
			columna 1
		</div>

	</div>

	<div class="col-6">

		<div class="bg-light border">
			columna 2
		</div>

	</div>

	<div class="col-6">

		<div class="bg-light border">
			columna 3
		</div>

	</div>

	<div class="col-6">

		<div class="bg-light border">
			columna 4
		</div>

	</div>

</div>

Ejemplo 7: Poner imagenes 
<div class="row">
	<div class="col-4">
		<img class="img-fluid" src="https://e.rpp-noticias.io/xlarge/2022/03/16/241224_1232803.jpg" />
	</div>
	<div class="col-4">
		<img class="img-fluid" src="https://e.rpp-noticias.io/xlarge/2022/03/16/241224_1232803.jpg" />
	</div>
	<div class="col-4">
		<img class="img-fluid" src="https://e.rpp-noticias.io/xlarge/2022/03/16/241224_1232803.jpg" />
	</div>
</div>

<br /> 

Ejemplo 8: Imagen tipo thumbnail


<img 
	class="img img-thumbnail rounded-circle"
	src="https://i.pinimg.com/736x/2b/9f/62/2b9f62bfb88678b7fa2df61958cb1731.jpg"/>