@{
    ViewData["Title"] = "Home Page";
}

Ejemplo 12: Alinear textos

<p class="text-start">Texto a la izquierda.</p>

<p class="text-center">Texto en el centro.</p>

<p class="text-end">Texto a la derecha.</p>

<p class="text-sm-center">Texto centralizado en pantallas pequeñas o mas grandes.</p>

<p class="text-md-center">Texto centralizado en pantallas medias o mas grandes.</p>

<p class="text-lg-center">Texto centralizado en pantallas grandes o mas grandes.</p>

<p class="text-xl-center">Texto centralizado en pantallas extra-grandes o mas grandes.</p>

Ejemplo13: Texto dentro de su contenedor

<br />

<di class="badge bg-primary text-wrap" style="width: 6rem">

    Este texto no se sale de su contenedor

</di>

<br />

<div class="badge bg-primary text-wrap text-break" style="width 6rem">

    mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm

</div>

<p class="text-lowercase">Minúsculas</p>
<p class="text-uppercase">Mayúsculas</p>
<p class="text-capitalize">cada palabara con mayúscula</p>